[Unit]
Description=Custom dhclient6 invocation
RequiresMountsFor=/run
BindsTo=sys-subsystem-net-devices-{{ wan_iface }}.device
Wants=network.target
After=network.target

[Service]
Environment=LEASEFILE=/run/dhcp6c-{{ wan_iface }}.leases 
Environment=PIDFILE=/run/dhcp6c-{{ wan_iface }}-pd.pid 
Environment=SCRIPTFILE=/config/custom/dhcp-set-ip.sh
Environment=CONFIGFILE=/config/custom/dhcp6c-{{ wan_iface }}-pd.conf 

ExecStartPre=/bin/cp $CONFIGFILE /run/
ExecStart=/sbin/dhclient -6 -d -P -cf $CONFIGFILE -lf $LEASEFILE -pf $PIDFILE -sf $SCRIPTFILE {{ wan_iface }}
ExecStopPost=-/bin/rm $LEASEFILE /run/dhcp6c-{{ wan_iface }}-pd.conf

Type=simple
Restart=always
RestartSec=5s
PIDFile=/run/dhcp6c-{{ wan_iface }}-pd.pid

[Install]
WantedBy = multi-user.target
