# https://vincent.bernat.ch/en/blog/2019-orange-livebox-linux
# https://web.archive.org/web/20200808021708/https://lafibra.info/index.php/topic,504.0.html
option dhcp6.auth code 11 = string;
option dhcp6.userclass code 15 = string;
option dhcp6.vendorclass code 16 = string;
interface "{{ wan_iface }}" {
  timeout 60;
  retry 1;
  select-timeout 0;
  send dhcp6.client-id 00:03:00:{{ wan_mac }};
  send dhcp6.reconf-accept;

  # arcadyan
  send dhcp6.vendorclass 00:00:80:d5:00:08:61:72:63:61:64:79:61:6e;

  # -FSVDSL_livebox.Internet.arcadyan.LiveboxFibra
  send dhcp6.userclass 00:2d:46:53:56:44:53:4c:5f:6c:69:76:65:62:6f:78:2e:49:6e:74:65:72:6e:65:74:2e:61:72:63:61:64:79:61:6e:2e:4c:69:76:65:62:6f:78:46:69:62:72:61;

  # orangeuser@orangedsl
  send dhcp6.auth 6f:72:61:6e:67:65:75:73:65:72:40:6f:72:61:6e:67:65:61:64:73:6c;

  also request dhcp6.auth, dhcp6.vendorclass, dhcp6.userclass;
}
