#!/bin/sh

IA_PD_IFACES="{{ lan_iface }}"

case $reason in
  BOUND6|EXPIRE6|REBIND6|REBOOT6|RENEW6)
    offset=0
    for iface in $IA_PD_IFACES; do
      # Remove old /64 prefix if there is a change
      [ -n "$old_ip6_prefix" ] && \
        [ "$old_ip6_prefix" != "$new_ip6_prefix" ] && \
        ip -6 addr flush dev "$iface" scope global
        ip -6 route flush dev "$iface" scope global
      # Compute and add new /64 prefix
      [ -n "$new_ip6_prefix" ] && {
        offset=$((offset + 1))
        address=$(sipcalc --v6split=64 --split-verbose "$new_ip6_prefix" \
                   | grep '^Compressed' \
                   | awk "(NR == $offset)"' { print $NF }')1/64
        ip -6 addr show dev "$iface" | grep -qwF "$address" || \
          ip -6 addr add "$address" dev "$iface"
        ip -6 route show dev "$iface" scope global | grep -qwF "$new_ip6_prefix" || \
          ip -6 route add dev "$iface" "$address/64" scope global
        if ip -6 route add default via fe80::8626:2bff:fede:ff8b dev "{{ wan_iface }}" 2>/dev/null; then
          /opt/vyatta/sbin/dhcpv6-pd-response.pl --ifname="{{ wan_iface }}" --renew
        fi
      }
    done
esac
